@-webkit-keyframes twinkling {
    /*透明度由0到1*/
    0% {
        opacity: 0; /*透明度为0*/
    }
    100% {
        opacity: 1; /*透明度为1*/
    }
}

.page {
    width: 100%;
    height: 100%;
    position: relative;
}

.page .page-bkg {

    width: 100%;
    height: auto;

    z-index: -1;
}

.page > .banner {
    position: absolute;
    top: 0;
    left: 12%;

    width: 13%;
    height: 100%;
    /*padding: 40px;*/

    font-size: 60px; /* make it vertical */
    text-align: center;

    color: white;
    background-color: #62210d;

    z-index: 25;
}

.page > .banner > img {
    width: 60%;
    height: auto;
}

.page > .banner > .btn-page-up,
.page > .banner > .btn-page-down {
    margin: auto;
    width: 30%;
    color: #b8ac86;
    cursor: pointer;

    -webkit-animation: twinkling 1.5s infinite ease-in-out;
}

.page > .banner > .btn-page-up > img,
.page > .banner > .btn-page-down > img {
    width: 100%;
    height: auto;
}

.page > .banner > .small-slide {
    position: relative;

    margin-left: -10px;

    width: 110%;
    height: 200px;
    overflow: hidden;
}

.page > .banner > .small-slide > .small-slide-content-con {
    width: 100%;
    overflow: hidden;
}

.page > .banner > .small-slide > .small-slide-content-con > .small-slide-content {
    display: none;
    position: absolute;
    top: 0;

    width: 30px;
    font-size: 16px;
    word-wrap: break-word;
    letter-spacing: 30px;

    color: #8a5e39;
}

/* the active one is the middle one */
.page > .banner > .small-slide > .small-slide-content-con > .small-slide-content-middle {
    display: block;
    padding-top: 0;

    left: 45%;
    width: 40px;
    font-size: 0.4em;
    color: #e5ddb5;
}

.page > .banner > .small-slide > .small-slide-content-con > .small-slide-content-left {
    display: block;
    left: 20%;
}

.page > .banner > .small-slide > .small-slide-content-con > .small-slide-content-right {
    display: block;
    right: 15%;
}

.page > .banner > .small-slide > .small-slide-left,
.page > .banner > .small-slide > .small-slide-right {
    display: none; /* hide by default */

    position: absolute;
    top: 20px;

    width: 30px;
    height: auto;

    cursor: pointer;
}

.page > .banner > .small-slide > .small-slide-left {
    left: 0;
}

.page > .banner > .small-slide > .small-slide-right {
    right: 0;
}

.page > .banner > .small-slide > .small-slide-left > img,
.page > .banner > .small-slide > .small-slide-right > img {
    width: 100%;
    height: auto;
}

.page > .h-slide-left,
.page > .h-slide-right {
    position: absolute;
    top: 40%;

    width: auto;
    height: 90px;
    z-index: 25;

    cursor: pointer;
}

.page > .h-slide-left {
    left: 30px;
}

.page > .h-slide-right {
    right: 30px;
}

.page > .h-slide-left > img,
.page > .h-slide-right > img {
    width: auto;
    height: 100%;

}

.page > .h-slide {
    display: none;
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}

.page > .h-slide-active {
    display: block;
}

.page > .h-slide > .box {
    position: absolute;
    right: 10%;
    bottom: 40px;
    box-shadow: 0px 0px 30px #2b1e0a;
    width: 55%;
    height: 150px;

}

.page > .box {
    position: absolute;
    right: 10%;
    bottom: 40px;
    box-shadow: 0px 0px 30px #2b1e0a;
    width: 55%;
    height: 300px;
}

.page > .box > .bkg,
.page > .h-slide > .box > .bkg {
    width: 100%;
    height: 100%;
    background-color: #ecebe7;
    opacity: 0.7;
}

.page > .h-slide > .box > .box-slide-left-btn,
.page > .h-slide > .box > .box-slide-right-btn {
    position: absolute;
    top: 35%;
    width: auto;
    height: 30%;
}

.page > .h-slide > .box > .box-slide-left-btn {
    left: 3%;
}

.page > .h-slide > .box > .box-slide-right-btn {
    right: 3%;
}

.page > .h-slide > .box > .box-slide-left-btn > img,
.page > .h-slide > .box > .box-slide-right-btn > img {
    width: auto;
    height: 100%;
}

.page > .box > .content,
.page > .h-slide > .box > .content {
    position: absolute;
    top: 0;
    left: 0;

    width: 85%;
    height: 80%;

    padding: 2% 5% 0 8%;
}

.page > .box > .content > .title {
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    color: #2A2A2A;
}

.page > .h-slide > .box > .content > .title {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}

.page > .box > .content > .news-con {
    position: absolute;
    top: 60px;
    font-family: "微软雅黑";
    width: 87%;
    height: 200px;
    /*background-color: black;*/
    overflow-y: auto;
}

.page > .box > .content > .news-con > .one-news {
    height: 30px;
    line-height: 30px;

    color: #a78064;
}

.page > .box > .content > .news-con > .one-news > .date {
    font-weight: normal;
    padding-right: 20px;
}

#page-1 > .banner {
    padding-top: 5%;
}

#page-1 .box {
    max-width: 900px;
}

#page-1 .box > .bkg {
    opacity: 0.96;
}

#page-2 > .banner > img {
    margin-top: 10%;
    margin-bottom: 60%;
}

#page-3 > .banner > img {
    margin-top: 40px;
    margin-bottom: 40px;
}

#page-3 .small-slide {
    height: 210px;
}

#depart-movie > div.splash {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto; /* ?*/
}

#depart-movie > div.splash > img {
    width: 100%;
    height: auto;
    -webkit-animation: twinkling 1.5s infinite ease-in-out;
}

#depart-wenguan > div.splash {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto; /* ?*/
}

#depart-wenguan > div.splash > img {
    width: 100%;
    height: auto;
    -webkit-animation: twinkling 1.5s infinite ease-in-out;
}

/*。。。。*/
#text-sjx {
    padding-top: 20px;
}

#footer {
    position: absolute;
    top: 90%;

    width: 100%;
    height: 10%;
    background-color: #ffffff;
    z-index: 25;
}

#footer > .content {
    width: 1000px;
    margin: auto;
}

#footer > .content > .logos > img {
    display: block;
}