#inner-wrap {
    width: 1020px;
    height: 600px;
    /*background-color: #000000;*/
    margin: 150px auto 0 auto;
}

.left-nav {
    float: left;
    padding-top:11px;
    width: 15%;
    height: 200px;
    text-align: center;

    border-style: solid;
    border-color: lightgrey;
    border-width: 0 1px 0 0;
}

.left-nav > .title {
    height: 60px;
    line-height: 60px;

    font-size: 30px;
    font-weight: bold;

    border-style: solid;
    border-color: #a79764;
    border-width: 0 0 2px 0;
}

.left-nav > .item {
    height: 40px;
    line-height: 40px;

    font-size: 20px;

    border-style: solid;
    border-color: lightgrey;
    border-width: 1px 0 1px 0;
}

.left-nav > .active {
    border-style: solid;
    border-color: #62210d;
    border-width: 0 5px 0 0;
}

.right-content {
    float: left;

    padding: 20px;

    width: 70%;
    height: 1000px;
    /*background-color: #ffff00;*/

}

.right-content > .title {
    height: 50px;
    line-height: 30px;

    font-size: 40px;
    

    border-style: solid;
    border-color: lightgrey;
    border-width: 0 0 5px 0;
	font-family: 微软雅黑;


}



.teacher-type-center {
    margin: 40px auto 0 auto;

    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    


    text-align: center;
	color:#8A7A45;

    border-style: solid;
    border-color: #b8ac86;
    border-width: 0 0 1px 0;
}